<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APEX || ALL ATCHIEVEMENTS</title>
    <link rel="stylesheet" href="../css/home.css">

</head>
<body>
    {{>header team=true}}
    {{>team_header all_atchievements=true}}
    <section class="all_atchievements">
        <h1>No ATCHIEVEMENTS Available</h1>
    </section>
    {{>footer}}
</body>
</html>