<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Looking for a TEAM</title>
</head>
<body>
    {{>header}}
    <section class="team_join team_join_bg">
    <div class="">
       <div class="contents">
            <h1 class="title">We Don't Have any Team for This Game at This Moment! <br>If You are Intrested <span class="red">JOIN US</span>
            </h1>
            
            <a href="/join_us">JOIN APEX</a>
       </div>
    </div>
</section>
    {{>footer}}

</body>
</html>