
    <div class="primaryMenu">
        <div class="head_container">
            <div class="primaryMenuWrapper">

                <div class="pMenuLogo" id="pMenuLogo">
                   <!-- <img src="../img/apexlogo.jpg" class="pMenuLogo" alt="" srcset=""> -->
                   <h1>APEX<span class="red">BATTALION</span></h1>
                </div>
                
                <div class="menu">
                    <ul>
                        <li><a href="/teams" class="mHome abcd">TEAMS</a>
                            
                        
                        </li>
                        <li><a href="/watch" class="mPage">WATCH</a>
                            
                        </li>
                        <li><a href="/about_us" class="mServices">ABOUT US</a>
                            
                        </li>
                        <li class=""><a href="join_us" class="mProjects join_us">JOIN US</a>
                           
                        </li>
                       
                    </ul>
                </div>
            
            </div>
        </div>
    </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="../js/sticky.js"></script>