
    <div class="primaryMenu">
        <div class="head_container">
            <div class="primaryMenuWrapper">

                <div class="pMenuLogo" id="pMenuLogo">
                   <!-- <img src="../img/apexlogo.jpg" class="pMenuLogo" alt="" srcset=""> -->
                   <h1><span>THE</span> APEX <span class="red">BATTALION</span></h1>
                </div>
                
                <div class="menu">
                    <ul>
                       {{#if this.team}}
                        <li><a href="/teams" class="mHome abcd act_menu">TEAMS</a></li>
                        {{else}}
                            <li><a href="/teams" class="mHome abcd">TEAMS</a></li>
                        {{/if}}
                            
                        
                        {{#if this.watch}}
                        <li><a href="/watch" class="mPage act_menu">WATCH</a></li>
                        {{else}}
                            <li><li><a href="/watch" class="mPage">WATCH</a></li>
                        {{/if}}
                        
                            
                     {{#if this.aboutus}}
                        <li><li><a href="/about_us" class="mServices act_menu">ABOUT US</a></li>
                        {{else}}
                            <li><a href="/about_us" class="mServices">ABOUT US</a>
                        {{/if}}
                        
                            
                        {{#if this.joinus}}
                        <li><a href="join_us" class="mProjects join_us join_us_act">JOIN US</a></li>
                        {{else}}
                            <li><a href="join_us" class="mProjects join_us">JOIN US</a></li>
                        {{/if}}
                        
            
                           
                        
                       
                    </ul>
                </div>
            
            </div>
        </div>
    </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="../js/sticky.js"></script>