<div class="team_header">
    <ul>
        <li><a href="/teams">ALL TEAMS</a></li>
        <li><a href="/all_matches">ALL MATCHES</a></li>
        <li><a href="/all_atchievements">ALL ATCHIEVEMENTS</a></li>
    </ul>
</div>